@font-face {
  font-family: "MontBlanc";
  src: url("../fonts/Mont Blanc-Trial/MontBlanc-Trial-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "characterFont";
  src: url("../fonts/CIRCE-REGULAR.woff2") format("woff2");
  unicode-range: U+0020-00FF; /* Диапазон Unicode символов, для которых будет использоваться этот шрифт */
}
body{
  font-family:"MontBlanc";
  font-size: 2vh;
  /*background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);*/
 /*background-image: linear-gradient(to bottom, #eeeeee, #e7e7e7, #e0e0e0, #dadada, #d3d3d3, #d1d1d1, #cfcfcf, #cdcdcd, #cfcfcf, #d1d1d1, #d3d3d3, #d5d5d5);*/
 background-image: linear-gradient(to bottom, #f0eef8, #e7e6ee, #dfdee4, #d6d6db, #ceced1, #c8c8cf, #c1c1cc, #bbbbca, #b5b5ce, #afafd2, #a9a9d5, #a3a3d9);
 /*background-image: linear-gradient(to bottom, #f0eef8, #e7e6ee, #dfdee4, #d6d6db, #ceced1, #c8c8ca, #c1c1c3, #bbbbbc, #b5b5b6, #afafb0, #aaaaaa, #A3A3D9);*/
}
.header{
  height: 10vh;
  line-height: 10vh;
  border-bottom: 1px solid #EDECEC;
  margin-bottom: 1vh;
  display: flex;
  flex-direction:row-reverse;
  /* margin-right: 5vw; */
}
.header button{
  padding:0;
  border:none;
  background:transparent;
  margin-right: 1.5vw;
}
.crewSelector{
  font-family: "MontBlanc";
  appearance: none;
  padding: 1vh;
  border: none;
  border-bottom: 1px solid #EDECEC;
  background-color: transparent;
}
.invisible{
  opacity: 0;
}
.cell{
  width: 2vw;
  height: 100%;
  line-height: 5vh;
  font-size: 10px;
}
.date{
  width: 5vw; /* 6vw; */
  height: 10vh;
  border-left: 0.05vw solid #EDECEC;
  border-bottom: 0.05vw solid #EDECEC;
}
.crewBlock{
  border-radius: 10px;
  /*border: solid 1px black;*/
  width: 100%;
  height: 9vh;
  background-color:#c1c1cc;
  color:white;
  /*line-height: 1vh;*/
  text-align: left;
  margin-bottom: 1vh;
  font-size: 1.8vh;
}
.blockInnerText{
  /* flex: 1; */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-top: 2vh ;
  padding-left: 2vh;
}
.block_contract{
  z-index: 1;
  border-radius: 10px;
  /*border: solid 1px black;*/
  width: 100%;
  height: 9vh;
  position: relative;
  background-color:#c1c1cc;
  color:white;
  /*line-height: 1vh;*/
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  text-align: left;
  margin-bottom: 1vh;
  font-size: 1.8vh;

}
.main{
  display: flex;
  flex-direction: row;
  height: 100%;
}
.orders{
  width: 15vw;
  overflow-y: auto;
  border-radius: 3vh;
  padding: 2vh;
  margin-right: 1vw;
  background-color: #FFFFFF;
}
.container{
  height: 80vh;
}
::-webkit-scrollbar{
  width: 0px; /* Убираем место, занимаемое полосой прокрутки */
  background: transparent;
}
.ordersContainer{
  display: flex;
  flex-direction: column;
}
.scedule{
  width: 68vw;
  border-radius: 3vh;
  margin-right: 1vw;
  padding: 3vh;
  background-color: #FFFFFF;
}
.crew{
  width: 15vw;
  overflow-y: auto;
  border-radius: 3vh;
  padding: 2vh;
  background-color: #FFFFFF;
}
.dayElementcontainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  border: 0.05vw solid #EDECEC;
}
.dayElementcontainerHoliday{
  background-color: #fcfcfc;
}
.rowsContainer{
  display: flex;
  flex-direction: column;
}
.hoursContainer{
  display: flex;
  flex-direction: row;
}
.grid{
  min-height: 72vh;
}
.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  display: grid;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  transition: opacity .4s, visibility .4s;
}

.modal_box{
  width: 45vw;
  padding: 3vh;
  z-index: 3;
  background-color: white;
  margin-top: 5vh;
  transform: scale(0.5);
  transition: transform .5s;
  border-radius: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal_box_container{
  width:80%;
  display:flex;
  flex-direction: column;

}
.modal_box span,input,textarea {
  margin-bottom: 1vh;
  font-family:"characterFont","MontBlanc";
}
h1{
  font-size: 2.3vh;
  font-weight: normal; 
  color: #a3a3d9;
  text-align: center;
  margin-top: 0;
}
.modal_box input,textarea{
  border: none;
  border-bottom: 0.05vw solid black;
  font-family:"MontBlanc", "characterFont";
}

.modal_box input:focus, textarea:focus{
  border-radius: 1vh;
  outline: none;
  background-color: #EDECEC;
  border-bottom: 0.05vw solid #a3a3d9;
}


.modal.open{
  visibility: visible;
  opacity: 1;
}
.modal.open .modal_box{
  transform: scale(1);
}
.modal button{
  width: 25%;
  height: 4vh;
  margin-top: 1vh;
  margin-bottom: 0.5vh;
  margin-right: 1vh;
  color:black;
  background-color: white;
  border: 1px solid black;
  font-family: "MontBlanc";
  border-radius: 0.5vh;
}
.modal_box button:hover{
  color: #a3a3d9;
  background-color: white;
  border: 1px solid #a3a3d9;
  font-family: "MontBlanc";
}
.creationOfNewBlock_block{
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}
.creationOfNewBlock_block p{
  margin-left: 3vh;
}
.creationOfNewBlock_block button{
  padding: 0;
  font-size: 3vh;
  border: none;
  background-color: #ffffff;
  margin-right:  3vh;
}
.hourScale{
  font-size: 10px;
  text-align: center;
  position: relative;
  left: -0.5vw;
  width: 5vw; /* 6vw; */
  height: 2.5vh;
  border-left: 0.05vw solid #ffffff;
  line-height: 2.5vh;
}
.crewCell{
  border-left: 0.05vw solid #EDECEC;
  border-bottom: 0.05vw solid #EDECEC;
  border-right: 0.05vw solid #EDECEC;
  display: flex;
  align-items: center;
}
.crewCell button{
  padding:0; background-color: transparent; border:none;
}
.addHoursRow{
  padding: 0;
  width: 3vw;
  height: 10vh;
  line-height: 10vh;
}
.addHoursRow button{
  background-color: transparent;
  border:none;
  padding: 0;
}
.week{
  text-align: center;
  margin-bottom: 1vh;
}
.week span{
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}
.buttonDefolt{
  border-radius: 1vh;
  border: 0.05vw solid black;
  background: transparent;
}
@keyframes press {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.proclick:active {
  animation: press 1s;
}
.alarmText {
  color: red;
}
